@using DailyBlogUI.Models;
@model UserSignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Daily Blog | Register</title>

    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">Welcome</h1>

            </div>
            <h3>Register to Daily Blog</h3>
            <p>Create an account</p>
            <form class="m-t" role="form" asp-action="Index">
                <div class="form-group">
                    <span asp-validation-for="@Model.nameSurname" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="@Model.nameSurname" placeholder="Name Surname" >
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.Mail" class="text-danger"></span>
                    <input type="email" class="form-control" asp-for="@Model.Mail" placeholder="Email" >
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Username" >
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Password" required="">
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" required="">
                </div>

                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox" required=""><i></i> Agree the terms and policy </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/RegisterUser/Login/">Login</a>


                <div class="text-danger" asp-validation-summary="ModelOnly">

                </div>

            </form>
            <p class="m-t"> <small>Daily Blog &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/inspinia-gh-pages//jquery-3.1.1.min.js"></script>
    <script src="~/inspinia-gh-pages//popper.min.js"></script>
    <script src="~/inspinia-gh-pages/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
